<div>


    <div class="card">
        <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex"></p-steps>
    </div>

    <ng-container *ngIf="activeIndex === 0">
        <div class="drop-divs">
            <div *ngFor=" let categoria of categories">
                <h5>{{ categoria.categoria }}:</h5>
                <p-multiSelect
                [options]="getIngredientesByCategoria(categoria)"
                placeholder="Selecciona un ingrediente"
                [filter]="false"
                (onChange)="selectsOptions($event, categoria.categoria)"
                >
                </p-multiSelect>
            </div>
        </div>
        <div class="div-buttons">
            <button pButton class="primary btn-propio" type="submit" (click)="nextStep()">Siguiente</button>
        </div>
    </ng-container>
    <ng-container *ngIf="activeIndex === 1">
        <div class="table-div">
            <p-table
            #TablaIngredientes
            class="list-table" 
            [value]="productos">
                <ng-template pTemplate="header">
                  <tr>
                    <th id="producto">Producto</th>
                    <th id="cantidad">Cantidad</th>
                    <th id="medida">Unidad medida</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-producto>
                  <tr>
                    <td>{{ producto.nombre }}</td>
                    <td>
                      <input type="number" class="input-propio" [(ngModel)]="producto.cantidad">
                    </td>
                    <td>
                        <p-dropdown
                        class="uds-select"
                        [options]="udsMedida"
                        [(ngModel)]="producto.unidadMedida"
                        >
                        
                        </p-dropdown>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
        </div>
        <div class="div-buttons">
            <button pButton class="primary btn-propio" type="submit" (click)="previousStep()">Anterior</button>
            <button pButton class="primary btn-propio" type="submit" (click)="nextStep()">Siguiente</button>
        </div>
    </ng-container>
    <ng-container *ngIf="activeIndex === 2">
        <div class="drop-divs">
            <input class="input-propio" id="recetaNombre" name="nombreReceta" [(ngModel)]="recipee.nombre" type="text" placeholder="Nombre receta" required="true" />
            <textarea cols="100" pInputTextarea [(ngModel)]="recipee.steps" [autoResize]="true"></textarea>
        </div>
        <div class="div-buttons">
            <button pButton class="primary btn-propio" type="submit" (click)="previousStep()">Anterior</button>
            <button pButton class="primary btn-propio" type="submit" (click)="confirm()">Confirmar</button>
        </div>
    </ng-container>
</div>
