<div class="div-buttons">
    <button pButton class="primary btn-propio" type="submit" icon="pi pi-pencil"  (click)="showModal()">Nueva Receta</button>
    <button pButton class="primary btn-propio" type="submit" icon="pi pi-sign-out"  (click)="logout()">Salir</button>
</div>

<p-table [value]="recipees" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th id="nombre">Nombre receta</th>
            <th id="acciones">Acciones</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-recipee>
        <tr>
            <td>{{ recipee.nombre }}</td>
            <td>
                <div class="div-buttons-table">
                    <button pButton class="primary btn-propio2" type="submit" icon="pi pi-pencil"  (click)="selectRecipee(recipee)">Editar</button>
                    <button pButton class="primary btn-propio2" type="submit" icon="pi pi-trash"  (click)="selectRecipee(recipee)">Eliminar</button>
                    <button pButton class="primary btn-propio2" type="submit" icon="pi pi-file-pdf"  (click)="selectRecipee(recipee)">Exportar PDF</button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog
    header="Nueva receta"
    [(visible)]="display"
    [blockScroll]="false"
    [style]="{ height: '800px', width: '1200px' }"
    [modal]="true"
>
<app-recipee-modal (closeDialogEvent)="closeDialog()"></app-recipee-modal>
</p-dialog>
